/* Add CSS Styling */

.left, 
.right {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', serif;
}

.left {
    color: white;
    background-color: black;
}

.right {
    background-color: yellow;
}